# Sets :- Collection of unordered items.

# Here we aill see the practice problems for the sets specifically.

# sets are mutuable as we can add or remove any of the elements but thier elements are immutable as they have tuple as thier elements but not lists and dictionary

In [8]:
# WAP to perform union of two sets.

x = {1,2,2,4,3,"Hello"}
y = {0,9,5,4,"Sachin Tendulkar", 45,21}

print(x)
print(y)

x.union(y)

{1, 2, 3, 4, 'Hello'}
{0, 4, 5, 21, 9, 'Sachin Tendulkar', 45}

{0, 1, 2, 21, 3, 4, 45, 5, 9, 'Hello', 'Sachin Tendulkar'}

In [10]:
# WAP to perform intersection of two sets.

x = {1,2,2,4,3,"Hello"}
y = {0,9,5,4,"Sachin Tendulkar", 45,21}

print(x)
print(y)

x.intersection(y)

{1, 2, 3, 4, 'Hello'}
{0, 4, 5, 21, 9, 'Sachin Tendulkar', 45}

{4}

In [11]:
# WAP to find the difference between two sets.
# Pratik's solution :-

x = {1,2,2,4,3,"Hello"}
y = {0,9,5,4,"Sachin Tendulkar", 45,21}

print(x)
print(y)

x.difference(y)

{1, 2, 3, 4, 'Hello'}
{0, 4, 5, 21, 9, 'Sachin Tendulkar', 45}

{1, 2, 3, 'Hello'}

In [14]:
# Define two sets
# ChatGPT's solution :-

x = {1,2,2,4,3,"Hello"}
y = {0,9,5,4,"Sachin Tendulkar", 45,21}

# Find the difference between set1 and set2
difference =  x - y

# Display the difference
print("Difference between x and y :", difference)

Difference between x and y : {1, 2, 3, 'Hello'}

In [15]:
# WAP to check if a set is a subset of another set.
# pratik's solution :-

x = {1,2,2,4,3,"Hello"}
y = {1,4,"Hello"}

print(x)
print(y)

y.issubset(x)

{1, 2, 3, 4, 'Hello'}
{1, 4, 'Hello'}

True

In [17]:
# Define the sets
# Chat GPT's solution :-
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Display the result
if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [18]:
# WAP to check if two sets are disjoint.

x = {1,2,2,4,3,"Hello"}
y = {0,9,5,4,"Sachin Tendulkar", 45,21}

print(x)
print(y)

x.isdisjoint(y)

{1, 2, 3, 4, 'Hello'}
{0, 4, 5, 21, 9, 'Sachin Tendulkar', 45}

False

In [19]:
# Define the sets
# ChatGPT's solution :-
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
are_disjoint = set1.isdisjoint(set2)

# Display the result
if are_disjoint:
    print("The sets are disjoint")
else:
    print("The sets are not disjoint")

The sets are disjoint