## Rules for Indentifiers.

1. Never ever use any special character to name the variable. Ex:- var_1.

2. Variable name do not start with numeric Ex:- 1var but it can be var1.

3. No length limit.
4. it can combine upper/lowercase with digits and underscore.

## Variable:- given name to a memory location in a program.

In [ ]:
print("Pratik")

Pratik

In [ ]:
name = "Pratik"

print("My name is " + name)

My name is Pratik

In [ ]:
print("My name is",name)

My name is Pratik

In [ ]:
var1 = "Pratik is going to be jobless soon"

print("Why", var1)

Why Pratik is going to be jobless soon

In [ ]:
age = float(34)

print(age)

34.0

In [ ]:
age20 = age

print(age20)

34.0

In [ ]:
age = 23
home = "Dbg"

In [ ]:
print(float(age))

23.0

In [ ]:
print (home)

type(home)

Dbg

str

In [ ]:
type(var1)

str

In [ ]:
type(age20)

float

## Data Types

1. Integers - positive, negative, zero.
2. Strings - a collection of alphabets,
   words or other characters.
3. FLoat -  that converts values into
   floating point numbers.
4. Boolean - true and false in Capital
   letter.
5. Complex - number in iota from.

In [ ]:
age2 = 23
old = False

a = None

print(type(old))
print(type(age2))

<class 'bool'>
<class 'int'>

In [ ]:
print(type(a))

<class 'NoneType'>

## Now keywords in python : this are the reserved keywords which can't be used as an identifier for storing purposes.

Here is the list of the Keywords which are reserved :-

and, as, assert, break, class, continue, def, del, elif, else, expect, finally, False, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return, True, try, with, while, yield.

## Python is a Case Sensitive Language means A is not same as a.

In [ ]:
# printing sum of 2 no.

a = 2
b = 5
sum = a+b

print(sum)

7

In [ ]:
# printing suntract of 2 no.

a = 2002
b = 50
sub = a - b

print(sub)

1952

In [ ]:
# printing division of 2 no.

a = 20
b = 5
div = a/b

print(div)

4.0

## / is use for division and % is used for finding the remaining.

In [ ]:
# printing remaining of 2 no.

a = 16
b = 5
rem = a%b

print(rem)

1

In [ ]:
a = 23
b = 5
x = a//b

print(x)

4

## Now Comments in Python :- there are 2 types of comments Single line and multi line. for single line put # and for multi-line ctrl+/ or triple comma like this (""""""")

In [ ]:
print("Pratik")
# print("Pratik")
# print("Pratik")
# print("Pratik")
# print("Pratik")
# print("Pratik")

Pratik

## Now we'll see Operators:- symbol to perform some operation.

1. Arithmetic (+,-,*,/,%,**)
2. Relational/Comparison (=,!=,<,>,>=,<=)
3. Assignment (=,+=,-=,*=,/=,%=,**=)
4. Logical (not, and, or)

In [ ]:
 # arithmetic Operator.

 a = 5
 b = 9
 sum = a + b
 print(sum) #summation.


 a = 5
 b = 9
 sub = a - b
 print(sub) #subtract operation.


 a = 5
 b = 9
 mul = a + b
 print(mul) #mutiplication operation.

 a = 55
 b = 9
 div = a / b
 print(div) #for calculaating division with answer in floating values.


 a = 56
 b = 9
 mod = a % b
 print(mod) #for finding the reaminder.

 a = 5
 b = 3

 power = a ** b
 print(power) #calculates the power values.

14
-4
14
6.111111111111111
2
125

In [ ]:
## Relational or Comparison operator.

## ! shows not sign in programming

a = 50
b = 20
print(a==b) #checking for equals to.

a = 50
b = 20
print(a!=b) #checking for not equals to

a = 50
b = 20
print(a>=b) #checcking for greater than equals to.

a = 50
b = 20
print(a<=b) #checking for smaller than equals to.

a = 50
b = 20
print(a<b) #checking for smaller.

a = 50
b = 20
print(a>b) #checking for greater.

False
True
True
False
False
True

In [ ]:
## Assignment Operator.

num = 15
num = 9+num
print(num) #here we added 9 with predefined num.

num+= 12
print(num) #it will directly add no need of previous code for defining.

num/= 2
print(num) #for dividion.


num*=10
print(num) #for multiply.

num**=3
print(num) #for power.

24
36
18.0
180.0
5832000.0

In [ ]:
## Logical Operators.

print(not False)

print(not True)

print(not(a>b))

print(a>b)

val1 = True
val2 = True
print("AND operator:", val1 and val2)

val1 = True
val2 = False
print("OR operator:", val1 and val2)


print("OR operator:", (a==b) or (a>b))

print("AND operator:", (a==b) and (a>b))

True
False
False
True
AND operator: True
OR operator: False
OR operator: True
AND operator: False

## Type COnversion:- converting the the type of data. like float into string.

2 types of it.

a)type conversion-Interpreter performs it automatically.

b) type casting-Manually we have to pass the command.

In [ ]:
#type conversion

#float is supirior than integer.
#Hence this is implict conversion due to auto atics converion by intrerpreter.

a = float("2")
b = 4.25

sum = a + b
print(sum)

print(a + b)
# Here by using type casting we change the type of data. So it is explicitly changed.

6.25
6.25

In [ ]:
f = 3.1457
f = str(f)

In [ ]:
print(type(f))

<class 'str'>

In [ ]:
# using input in python from taking input from user using input word.

age = input(" Enter your age: ")

name = input(" Enter your name: ")

 Enter your age: 21
 Enter your name: Pratik

In [ ]:
var1 = print("Welcome ", name)

Welcome  Pratik

# Input generally, consider all the datatypes as string only so we have to explicitly define the datatype.

In [ ]:
print(input("enter your gender"))

enter your genderM
M

In [ ]:
int = "5"
val = float(input("enter some value: "))
print(type(val), val)

enter some value: 52
<class 'float'> 52.0

In [ ]:
int = "5"
val = (input("enter some value: "))
print(type(val), val)

enter some value: 80
<class 'str'> 80

In [ ]:
name1 = input("enter name: ")
age2 = input("enter age: ")
marks = float(input("enter marks: "))

enter name: PK JHA
enter age: 20
enter marks: 96.8

In [ ]:
print("Welcom", name)
print("age =", age)
print("marks =", marks)

Welcom Pratik
age = 21
marks = 96.8

In [ ]:
type(name1)
type(age2)

str

In [ ]:
type(marks)

float

In [ ]:
num = float(input("Enter your mobile no: "))

Enter your mobile no: 7479

In [ ]:
name = input("enter your name: ")

enter your name: Pratik Jha

In [ ]:
mark = float(input("enter your marks: "))

enter your marks: 98.7

In [ ]:
 age = float(input("enter your age: "))

enter your age: 74

# Hereby it is prcaticed sum.

In [ ]:

## let's Practice.

# wap to input 2 numbers and print the sum

x = float(input("Enter first number: "))
y = float(input("Enter second number: "))

sum =  x + y

Enter first number: 82
Enter second number: 86

In [ ]:
print("sum", x+y)

sum 168.0

In [ ]:
print(x + y)

168.0

In [ ]:
# Input first number
num1 = float(input("Enter the first number: "))

# Input second number
num2 = float(input("Enter the second number: "))

# Calculate the sum
sum_nums = num1 + num2

# Print the sum
print("The sum of", num1, "and", num2, "is", sum_nums)

Enter the first number: 96
Enter the second number: 64
The sum of 96.0 and 64.0 is 160.0

In [ ]:
# wap to input side of a sq and print its area.

a = float(input("enter the side: "))
print("area of the square is =", a **2)

enter the side: 6
area of the square is = 36.0

In [ ]:
# wap to input side of a sq and print its area.

a = float(input("enter the side: "))
print("area of the square is =", a * a)

enter the side: 42
area of the square is = 1764.0

In [ ]:
# wap to input 2 floating point numbers and print their average.

num1 = float(input("enter the number: "))
num2 = float(input("enter the number: "))

print("average of num1 and num2 is: ", (num1+num2)/2)

enter the number: 40
enter the number: 60
average of num1 and num2 is:  50.0

In [ ]:
# wap to input 2 integer numbers, a nad b and print True if a is greater than
# or equal to b. If not thrn print Flase.

numb1 = float(input("enter the numb1: "))
numb2 = float(input("enter the numb2: "))

print(numb1 >= numb2)

enter the numb1: 74
enter the numb2: 85
False

In [ ]:
# wap to input 2 integer numbers, a nad b and print True if a is greater than
# or equal to b. If not thrn print Flase.

number1 = float(input("enter the numb1: "))
number2 = float(input("enter the numb2: "))

print(number1 >= number2)

enter the numb1: 10
enter the numb2: 30
False