# List in python:- built in data types that stores set of values. It can store of different types (int, sloat, string and etc.)

In [1]:
marks = [94, 95.2, 74, 85, 64]
print(marks)
print(type(marks))


print(marks[0])
print(marks[1])
len(marks)

[94, 95.2, 74, 85, 64]
<class 'list'>
94
95.2

5

## The basic difference between python list and array of c/c++ is storing of different/similar elements.

In [2]:
student = ["Karan", 87, "Chennai"]
print(student)

print(student[1])

['Karan', 87, 'Chennai']
87

## Very basic difference between strings and lists in python are strings are immutable where lists are mutable.

mutable = that can be changed

In [3]:
student[1] = 89
print(student)

# List can be accessable into the range of indices.

['Karan', 89, 'Chennai']

In [4]:
# List slicing is as similar as string slicing.

marks = [95, 87, 65, 88, 69]
print(marks)

print(marks[:3])
print(marks[3:])

[95, 87, 65, 88, 69]
[95, 87, 65]
[88, 69]

In [5]:
# In this ex we have not given starting or ending index so whole list print.
print(marks[:])

[95, 87, 65, 88, 69]

In [6]:
print(marks[-4:-1])

[87, 65, 88]

# List Methods :- This is a specific function for for any data types.

1.list.append():- to add the element at end.

2.list.sort():- sorts in ascending order.

3.list.sort(reverse=True):- In desecnding.

4.list.reverse():- reverse the list.

5.list.insert(idx,el):- insert element at specific index value.

In [7]:
list = [9, 8, 5]

In [8]:
list.append(6)

In [9]:
print(list)

[9, 8, 5, 6]

In [10]:
list.append(7)

In [11]:
print(list)

[9, 8, 5, 6, 7]

In [12]:
list.sort()

In [13]:
print(list)

[5, 6, 7, 8, 9]

In [14]:
list.sort(reverse=True)
print(list)

[9, 8, 7, 6, 5]

In [20]:
a = ["x", "u", "z"]

In [21]:
a.sort()
print(a)

['u', 'x', 'z']

In [22]:
a.sort(reverse=True)
print(a)

['z', 'x', 'u']

In [23]:
b = [1, 2, 3]
print(b)

[1, 2, 3]

In [24]:
b.reverse()
print(b)

## reverse and sort(reverse=True are giving same result here in the  example
## list a and b)

[3, 2, 1]

## Now we will learn about list.insert which is similar to list.append but only difference is that it can add element on the specific index.

In [25]:
list1 = [1, 7, 4]
list1.insert(0, 8)
print(list1)

#Hence, here element 8 is added at 0th index.

[8, 1, 7, 4]

## Now we will see these two:-

1.list.remove() - to remove the first occurence of the element.

2.list.pop() - remove element from the particular index.


![image.png]()

In [26]:
x = [2, 1, 4, 1]

In [27]:
x.remove(1)

In [28]:
print(x)
## hence first occurence of 1 is removed

[2, 4, 1]

In [29]:
x.pop(0)

2

In [30]:
print(x)

## Here it shows that pop function removed the specific index element from
## the given list x.

[4, 1]

## Now we will see Tuples :- tuple is very similar to list but major difference is the use of paranthesisi instead of the sq bracket.

In [31]:
tup = (2, 1,3, 1)
print(type(tup))

##slicing is similar as list and string in python for bpth direction.

<class 'tuple'>

In [36]:
tu = (8)
print(type(tu))

## here if tuple has single element it must to use "," separation otherwise
## it can't take it as integer.

<class 'int'>

In [37]:
## so it should be as.
my_tuple = (9,)
print(type(my_tuple))

<class 'tuple'>

Tuples methods are followings:-

1. tuple.index():- returns index of first occurence.

2. tuple.count():- counts total occurence.

In [48]:
tuple = (9,8,9,0)
print(tuple.index(0))
# it gives the index of the elements first occurence.

3

In [49]:
tupl = (1,6,3,8,4)
print(tupl.count(3))
# so here it has given count of integer 3

1

In [56]:
# Let's  to the practice problem.
# WAP to the ask to enter names of thier 3 favourite movies & store them in a list.

# my solution
a = input("enter the first most favourite movie name: ")
b = input("enter the second most favourite movie name: ")
c = input("enter the third most favourite movie name: ")

my_list = [a,b,c]

enter the first most favourite movie name: MSD
enter the second most favourite movie name: Kaagaz
enter the third most favourite movie name: 96

In [57]:
print(type(my_list))

<class 'list'>

In [61]:
 # shradha's solution

 movies = []

 mov1 = input("enter 1st movie name: ")
 mov2 = input("enter 2nd movie name: ")
 mov3 = input("enter 3rd movie name: ")

enter 1st movie name: MSD
enter 2nd movie name: Sachin TBD
enter 3rd movie name: Sholay

In [63]:
 movies.append(mov1)
 movies.append(mov2)
 movies.append(mov3)

In [64]:
print(movies)

['MSD', 'MSD', 'Sachin TBD', 'Sholay']

In [69]:
movies.remove("MSD")

In [70]:
print(movies)

['MSD', 'Sachin TBD', 'Sholay']

In [72]:
# WAP to check if a list contains a palindrome of elements.
# Hint:- use copy() method. it reurns the shallow copy of the list.
## Palindrome :- same from front and rear like (1,2,3,2,1)
# which can have same no. of elements in same order.

# shradha's solution
list1 = [1, 2, 1]


copy_list1 = list1.copy()
copy_list1.reverse()


if(copy_list1 == list1):
  print("This is Palindrome")
else:
  print("Not a palindrome")

This is Palindrome

In [76]:
list2 = [1, 2, 3]

copy_list2 = list2.copy()
copy_list2.reverse()

if(copy_list2 == list2):
  print("Palindrome")
else:
  print("Not a palindrome")

Not a palindrome

In [79]:
list3 = ["m", "a", "a", "m"]

copy_list3 = list3.copy()
copy_list3.reverse()

if(copy_list3 == list3):
  print("Palindrome")
else:
  print("Not a palindrome")

Palindrome

In [85]:
# WAP to count the no. of students with the "A" grade in the following tuple.
# Common solution

grade = ("C", "D", "A", "A", "B", "A")

grade.count("A")

3

In [90]:
# Store the above values in the list & sort them from "A" to "D".
# Common Solution. here it is in ascending order.

val = ["C", "D", "A", "A", "B", "A"]
val.sort()
print(val)

['A', 'A', 'A', 'B', 'C', 'D']