## Topic:- Dictionaries and sets

# Dictionaries are used to store data values in Key:Value pairs. They are unorderd and mutable but don't allow duplicates.

In [1]:
info = {
    "Key" : "value",
    "name" : "mycollege",
    "learning" : "Python",
    "age" : 35,
    "is_adult" : "True",
    "marks" : 94.6,
    10.99 : "no"
}
## tuple data type can be key because it can't change.
## but in key value pair it can be list, int, float or so on.
print(info)
print(type(info))

{'Key': 'value', 'name': 'mycollege', 'learning': 'Python', 'age': 35, 'is_adult': 'True', 'marks': 94.6, 10.99: 'no'}
<class 'dict'>

In [2]:
dict = {
    "name" : "shradha",
    "cgpa" : 9.6,
    "marks" : [98, 97, 95]
}

print(type(dict))

print(dict)

<class 'dict'>
{'name': 'shradha', 'cgpa': 9.6, 'marks': [98, 97, 95]}

In [3]:
print(dict["cgpa"])
print(info["name"])
print(dict["marks"])
# examples of finding the value pairs in dictionary.
# if some key is not [resent in dictionary it will give an error.

9.6
mycollege
[98, 97, 95]

# Since we don't have order or index in this data structure we can use dictnary name with key value into square bracket.

In [4]:
info["name"] = "Pratik"
info["Key"] = 96
print(info) # hence it is mutable.
# if we are assigning the new key value pair with same key
# it overwrites as dictionary can't have duplicates.

{'Key': 96, 'name': 'Pratik', 'learning': 'Python', 'age': 35, 'is_adult': 'True', 'marks': 94.6, 10.99: 'no'}

In [5]:
null_dict = {}
print(null_dict)
# null dictionary

{}

In [6]:
null_dict["name"]  = "Suresh Raina"
print(null_dict) # adding the key value pair in dictionary.

{'name': 'Suresh Raina'}

# The below is Nested Dictionary means dictionary inside the dictionary.

In [7]:
student = {
    "name" : "Rahul G",
    "Subjects" : {
        "Phy" : 92,
        "Chem" : 80,
        "Math" : 65
    }
}

print(student)
print(type(student))

{'name': 'Rahul G', 'Subjects': {'Phy': 92, 'Chem': 80, 'Math': 65}}
<class 'dict'>

In [8]:
print(student["Subjects"])

print(student["Subjects"] ["Math"])

# This is how we retrieve it from nested dictionary.

{'Phy': 92, 'Chem': 80, 'Math': 65}
65

# Methods in Dictionary

myDict.keys() :- returns all keys

![image.png]()

In [9]:
print(student.keys()) # it prints only outer layer of the nested dictionary.

dict_keys(['name', 'Subjects'])

In [10]:
print(list(student.keys())) # typecasting into list.

['name', 'Subjects']

In [11]:
print(len(student)) # for finding the no. of key value pairs.

print(len(list(student.keys()))) # we can also use this.

2
2

# myDict.values() : returns all the values.

In [12]:
print(student.values())

dict_values(['Rahul G', {'Phy': 92, 'Chem': 80, 'Math': 65}])

In [13]:
print(list(student.values())) # list storing dictionary.

['Rahul G', {'Phy': 92, 'Chem': 80, 'Math': 65}]

# we can store list in dictionary and vice-versa.

In [14]:
#  # Extract the inner dictionary for 'person2'
# Subjects_dict = student['Subjects']

# # Convert the inner dictionary into a list with one element
# Subjects_list = [Subjects]

# print(Subjects_list)

# Now myDict.items() :- it returns all (Key,val) pairs as a tuples.

In [15]:
print(student.items()) #gives key,val in tuples form.

dict_items([('name', 'Rahul G'), ('Subjects', {'Phy': 92, 'Chem': 80, 'Math': 65})])

In [16]:
print(list(student.items()))

[('name', 'Rahul G'), ('Subjects', {'Phy': 92, 'Chem': 80, 'Math': 65})]

In [17]:
pairs = list(student.items())

#here we are storing the tuples into the list form and then accessing it by using thier index no. as we know that in list it is possible to access it by indexing.

In [18]:
print(pairs[0])

('name', 'Rahul G')

In [19]:
print(pairs[1])

('Subjects', {'Phy': 92, 'Chem': 80, 'Math': 65})

# myDict.get("key") :- returns the key according to value.

In [20]:
print(student["name"])

# here both the code snippet giving the same output.
print(student.get("name"))

Rahul G
Rahul G

In [21]:
print(student["name2"])

# here if we use this line then it will affect the whole code by stop
# thier working unless and until it gets corrected.

# so finally, we will use myDict.get("key")

KeyError: 'name2'

In [22]:
print(student.get("name2"))
# here the differnce between the both are first one give error if the key name
# does not exist not at the same time it will give none value.

None

# myDict.update(newDict) :-  inserts the specified items to the dictionary.

In [23]:
student.update({"city " : "Delhi"})
print(student)

{'name': 'Rahul G', 'Subjects': {'Phy': 92, 'Chem': 80, 'Math': 65}, 'city ': 'Delhi'}

In [24]:
new_dict = {"city" : "kolkata"}
student.update(new_dict)
print(student)


# here we can give mutiple key value pair and we have added by both ways by
# creating a new dict and adding it into previous and by directly adding
# the updates into previous one.

{'name': 'Rahul G', 'Subjects': {'Phy': 92, 'Chem': 80, 'Math': 65}, 'city ': 'Delhi', 'city': 'kolkata'}

In [25]:
# for updating mutliple values

new_dicts = {"city" : "patna", "age": 21}
student.update(new_dicts)
print(student)

{'name': 'Rahul G', 'Subjects': {'Phy': 92, 'Chem': 80, 'Math': 65}, 'city ': 'Delhi', 'city': 'patna', 'age': 21}

In [26]:
new_dictss = {"name" : "Pratik Kumar", "age" : 24}
student.update(new_dictss)
print(student)
# so here by changing in the name it gives overwrite values bacuse
# as we know it won't give duplicates.

{'name': 'Pratik Kumar', 'Subjects': {'Phy': 92, 'Chem': 80, 'Math': 65}, 'city ': 'Delhi', 'city': 'patna', 'age': 24}

# Sets in python :- collection of unordered items.
# each elements in the set must be unique & immutable.

set can store boolean, int, float, string, tuple due to its immutable property. and because lists and dictionary are mutable they cnnot be stored in set.

# dict and sets starts with the curly braces.

In [66]:
collection = {1,3,1,9,9,6,3,5, "Hello", "World!", "Hello"}

print(collection)
print(type(collection))
print(len(collection)) #total number of items ignorinhg duplicares.

{1, 'World!', 3, 5, 6, 'Hello', 9}
<class 'set'>
7

# In above as we see duplicates are allowed but it did not getting print and count while there is not a order in sets.

In [28]:
# syntax for empty set.

coll = set() # empty set
print(type(collection))

<class 'set'>

In [29]:
col = () # Hence always use above syntax for empty set.
print(type(col))

<class 'tuple'>

# Methods in set :-

# set.add(elements):- adds an elements.

In [30]:
coll.add("papaya")

coll.add("Banana")
coll.add(99)
print(coll) # here also it is in unordered from.

{'Banana', 99, 'papaya'}

 # sets are mutuable as we can add or remove any of the elements but thier elements are immutable as they have tuple as thier elements but not lists and dictionary.

In [35]:
coll.add([1, 2, 2, 4])
# it is the case of putting list as an  element into the sets.
# the error will be like :- unhashable type: 'list'

TypeError: unhashable type: 'list'

# Unhashable type :- it means that the  hashing value for each element will be have to change so it can't take mutable datatypes as an element.

In [31]:
coll.remove("Banana")
print(coll)

{99, 'papaya'}

In [33]:
a = set()
print(type(a))
print(len(coll))

<class 'set'>
2

In [34]:
coll.remove(8)
print(coll)
# if the elements is not there it will give the error.
# it is basically a key error where the value itself is key unlike dictionary.

KeyError: 8

In [43]:
coll.add("goa",)
coll.add( "Tamil")
coll.add(  76)

print(coll)
print(len(coll))

{99, 'papaya', 'Tamil', 76, 'goa'}
5

# now we will use clear method to empties the set.

In [44]:
coll.clear()

print(coll)
print(len(coll))

set()
0

# now set.pop() :- used to remove a random value alike remove function which removes the given element.

In [69]:
collection = {"hello", "Indian", "National","Election", 2024, 17}
print(collection)
print(len(collection))
print(type(collection))

{'Election', 17, 'hello', 2024, 'Indian', 'National'}
6
<class 'set'>

In [70]:
print(collection.pop())
print(collection)

Election
{17, 'hello', 2024, 'Indian', 'National'}

In [71]:
print(collection.pop())
print(collection)
# removing the random value.

17
{'hello', 2024, 'Indian', 'National'}

# now set.union(set2) :- combines both set values and returns the new.

In [74]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))
# here it will take the unoin but won't repeat any element .
# it won't change the set1 or set2

{1, 2, 3, 4, 5}

In [77]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1)
print(set2)

{1, 2, 3}
{3, 4, 5}

#  now set.intersection(set2) :- combines common values and returns new.

In [79]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1.intersection(set2))

{3, 4}

In [93]:
print(set1)
print(set2)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [111]:
# Let us do  the practice problems.

# shradha's solution
# Store the following word meanings in a python dictionary :-
# table : "a piece of furniture", "list of facts & figures"
# cat : "a small animal"


word_meanings = {
    'table': ['a piece of furniture', 'list of facts & figures'],
    'cat': ['a small animal']
}
print(word_meanings)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': ['a small animal']}

# Sets are case sensitive

In [126]:
# You're given a list of subjects for students. Assume one classroomm is
# required for 1 subject. How many classrooms are needed by all students.


# list of subjects are :- python, java, c++, python, javascript, java,
# python, java,c++, c


# Shradha's Solution

subjects = {
    "python", "java", "c++", "python", "javascript", "java", "python"
    , "java","c++", "c"
}

print(subjects)
print(len(subjects))
# Hence we need 5 calssrooms for students.

{'c', 'c++', 'java', 'python', 'javascript'}
5

In [134]:
# WAP to enter of 3 subjects from the user and store them in a dictionary.
# Start with an empty dictionary & add one by one. Use subject name as
# key & marks as values.

# shradha's solution

marks = {}

x = int(input("enter physics : "))
marks.update({"physics" : x})

x = int(input("enter chemistry : "))
marks.update({"chemistry" : x})

x = int(input("enter math : "))
marks.update({"math" : x})

print(marks)

enter physics : 65
enter chemistry : 77
enter math : 67
{'physics': 65, 'chemistry': 77, 'math': 67}

In [151]:
# Figure out the way to store 9 & 9.0 as separate values in the set.
# Hint:- take help of built-in data types.

values = { 9, "9.0"}
print(values)
# so here by using the string data types we can do it easily.
# or we can do it
values = { 9.0, "9"}
print(values)

{9, '9.0'}
{9.0, '9'}

In [152]:
values = {9, float(9.0)}
print(values)
# I used it but if failed to give the respective answer.

{9}

In [153]:
values = {9, 9.0, 8.0 , 8}
print(values)
# here hashing value of 8 & 8.0 is similar as 9 & 9.0 has similar hashing values.

{8.0, 9}

In [159]:
# the second possible way is the following:-
value = {
    ("float", 9.0),
    ("int", 9)}

print(value)
# so this is the second possible way of doing the stroe of 9 & 9.0

{('int', 9), ('float', 9.0)}