# In this we will learn about core topic of python that is Conditional Statements.

# String:- Datatype holds a sequence of characters.

we can use single, double and triple coating to make clarity between other symbols used as apostrophe inside the coat.

In [1]:
str1 = "This is astring.we are creating it in a python"
print(str1)

This is astring.we are creating it in a python

# So whenever we tries to print a multiple lines of code with separation of para or tab it's getting more difficult so here comes the concept of Escape Sequence Character were we can use next line & tab by writting \n & \t respectively.

In [2]:
# example for next line.
str2 = "This is astring.\nwe are creating it in a python"
print(str2)


strr = "This is a beautiful city. \nWhen is snowfall is going to start. \nThere is a great stories of snowfall of this city."
print(strr)

This is astring.
we are creating it in a python
This is a beautiful city.
When is snowfall is going to start.
There is a great stories of snowfall of this city.

In [3]:
# example for tab.
str3 = "This is astring. \twe are creating it in a python"
print(str3)

This is astring. 	we are creating it in a python

# Concatenation:- Joining two different strings.

# Length:- length of string by len(str_name)

Whenever we print len(str_name) it wpuld count blank space as well as special char & digits too.

In [4]:
a = "Jai "
b = "Shri "
c = "ram"


slogan = (a+b+c)
print(slogan)
len(slogan)

Jai Shri ram

12

In [5]:
len(strr)

114

In [6]:
len(str1)

46

# Indexing:- to the process of accessing a specific element in a sequence, such as a string or list, using its position or index number. It provides the power of accesing the particular index/position.

# This Indexing can't make changes into the String.

In [7]:
# Here it is an interesting case where we get nothing but this is an answer
# of the str[4] which is nothing but the space.
str = "apna house"
ch = str[4]
print(ch)

In [8]:
print(str[2])

n

# Slicing:- Accessing parts of a string.
# Instead of mentioning string starting we can make it like this [:4] and similar for ending like [:9] pr len(str) too.
strings ke tukde tukde karne mai help karta hai.

In [9]:
str = "apna college"
print(str[1:4])

pna

In [10]:
a = "patna is the capital city of bihar"
print(a[:8])

patna is

In [11]:
print(a[:len(a)])

patna is the capital city of bihar

##![Screenshot 2024-04-06 070454.png]()Slicing works in backward case too which is known as backward counting starts with -1 and goes on where if there is [-3:-1] then -1 is not included their.

# Slicing works in backward case too which is known as backward counting starts with -1 and goes on where if there is [-3:-1] then -1 is not included their.

In [12]:
str = "banana"
print(str[-4:])

nana

In [13]:
print(str[-4:-1])

nan

## Now String Functions:-
## 1. str.endswith("substring_name"):used to check that string should ends with that particular substring.

In [14]:
str1 = "I am Studying from a University"
print(str1.endswith("ity"))

True

In [15]:
str2 = "This is Country of diversity."
print(str2.endswith("ty")) #here bcoz fullstop is missing this is showig False.

False

In [16]:
print(str2.endswith("ity."))#here fullstop is added and now it is showing True.

True

# 2. str.capitalize(): To capitalize the first character of the string.

In [17]:
#this str.capitalize won't make changes into original string it makes new string.
str = "meet me"
print(str.capitalize())

Meet me

In [18]:
# for example :-
print(str)

meet me

In [19]:
#For making change into original string do this.

strr = "she is excellent is dancing"
str = strr.capitalize()
print(str)

She is excellent is dancing

In [20]:
# for example :-
print(str)

She is excellent is dancing

# 3. str.replace(old,new): replacing old values from new characters.

In [21]:
strr = "I am in currently in College  Hostel"
print(strr.replace("o", "aw"))

I am in currently in Cawllege  Hawstel

In [22]:
str3 = "I am studying python from youtube."
print(str3.replace("python", "SQl"))

I am studying SQl from youtube.

# 4. str.find("word"): It checks for the specific words in a string and gives the first index of that strings returns to us.

In [23]:
str3 = "I am studying Python from youtube"
print(str3.find("r"))

22

In [24]:
# If we are searching for a word than first char index will be shown to us.
print(str3.find("am"))

2

In [25]:
# here bcoz slicing only contais -ve indexes so for char which do not exists
# comes with -1 indexing answers to show it's unavailability.
print(str3.find("Q"))

-1

# 5. str.count("am"): counts the occurences of the substring.

In [26]:
str4 = "I am studying Python from youtube am"
print(str4.count("am"))

2

In [27]:
print(str4.count("o"))

3

# Some Functions inside the String:-
# Find, replace, capitalize, casefold, center, count, encode, endswith, expandtabs, format, format_map && index.

In [28]:
# Let's Solve a practice Questions :-
# Wap to input user's name & print its length.

x = input("enter your name: ")
print(len(x))

enter your name: Pratik
6

In [29]:
# Wap to find the occurence of '$ in a sting.

c = "The price of the product is $1000. We need to allocate $5000 for the project."
print(c.count("$"))

2

In [30]:
print(c.find("$"))

28

# Now we are studying about Conditional Statement. So, If-Else-Elif syntax being used for these.

In [31]:
# Example for If syntax.
age = 21
if (age>= 18):
  print("Eligible for Voting.")

Eligible for Voting.

In [32]:
#here condition is not true hence no stmt eill get print.
age = 15
if (age>= 18):
  print("Eligible for Voting.")

In [33]:
# Example for elif/else ik.

marks = "98"
if(marks>="90"):
  print("Merit Student")
elif(marks<="90"):
  print("Not a merit student")
elif(marks>= "75"):
  print("Distinction")

Merit Student

In [34]:
light = "green"
if(light == "green"):
  print("Go")
elif(light == "red"):
  print("stop")


print("ENd of Code")

Go
ENd of Code

# Difference between IF and ELIF Statemnt:-
If stmt always goes through checking but elif only goes when if gives False.

In [35]:
# Example for multiple if stmt which gives all condition checks.
num = 5
if(num > 2):
  print("greater than 2")
if(num > 3):
  print("greater than 3")

greater than 2
greater than 3

In [36]:
# Exmple for If and Elif where after If gets False only Elif got check.
num = 45
if(num>30):
  print("pass")
elif(num<50):
  print("C Grade")

pass

In [37]:
# now else stmt which can be written only once at last.
light = "white"
if(light == "green"):
  print("Go")
elif(light == "red"):
  print("stop")
elif(light == "yellow"):
  print("Wait")
else:
  print("Light is broken")

Light is broken

In [38]:
# another example of else:

age = 60
if age>= 60 :
  print("Senior Citizen")
else:
  print("Not a Senior Citizen")

Senior Citizen

In [39]:
# another example
age = 25
if(age >= 18):
  print("Can Vote")
else:
  print("Cannot Vote")

Can Vote

# Indentation:- proper spacing

In [44]:
# An Example of Conditional Statement:-
marks = int(input("enterthe students marks: "))
if(marks >= 90):
   print("Grade A")
elif(marks >= 80 and marks<90):
  print("Grade B")
elif(marks>= 70 and marks<80):
  print("Grade C")
elif(marks < 70):
  print("Grade D")

enterthe students marks: 100
Grade A

# Nesting in Conditional Statement:- Nesting refers to placing one code block within another.

In [46]:
# an example of nesting.

age = float(input("Enter your age: "))

if(age>=18):
  if(age>=70):
    print("They won't drive on Expressway.")
  else:
    print("They can drive anywhere.")
else:
  print("Can not drive a car.")

Enter your age: 96
They won't drive on Expressway.

In [72]:
# Let's do the practice problems.

# WAP to check if a number entered by the user is odd or even.

num = int(input("Enter the number: "))

if num % 2 == 0 :
  print(num,"is even")
else:
  print(num,"is odd")

Enter the number: 2
2 is even

In [77]:
# Let's do the practice problems.

# WAP to check if a float number entered by the user is odd or even.

num = float(input("Enter the number: "))

if num % 2 != 0 :
  print(num,"is odd")
else:
  print(num,"is even")

Enter the number: 50
50.0 is even

In [78]:
num =90
rem = num % 2

if num % 2 != 0 :
  print(num,"is odd")
else:
  print(num,"is even")

90 is even

In [79]:
# WAP to find the greatest of 3 numbers entered by the user.

a = int(input("Enter the first numbers: "))
b = int(input("Enter the second numbers: "))
c = int(input("Enter the third numbers: "))

if (a >= b and a >= c):
  print(a," is the greatest value")
elif (b >= c):
  print(b,"is greatest value")
else:
  print(c,"is greatest value")

Enter the first numbers: 74
Enter the second numbers: +4
Enter the third numbers: 70
74  is the greatest value

In [80]:
# WAP to find the greatest of 3 numbers entered by the user.

# WAP to find the greatest of 3 numbers entered by the user.

a = int(input("Enter the first numbers: "))
b = int(input("Enter the second numbers: "))
c = int(input("Enter the third numbers: "))

if (a >= b and a >= c):
  print(a," is the greatest value")
elif (b >= c):
  print(b,"is greatest value")
else:
  print(c,"is greatest value")
  #in the nagtion least negative value is the greatest among others like here.

Enter the first numbers: -66
Enter the second numbers: -98
Enter the third numbers: -55
-55 is greatest value

In [87]:
# WAP to find the greatest of 4 numbers entered by the user.

a = int(input("Enter the first numbers: "))
b = int(input("Enter the second numbers: "))
c = int(input("Enter the third numbers: "))
d = int(input("Enter the fourth number: "))

if (a >= b and 8a >= c and a>= d ):
  print(a," is the greatest value")
elif (b >= c and b>= d):
  print(b,"is greatest value")
elif (c >= d):
  print(c,"is greatest value")
else:
  print(d,"is greatest value")

Enter the first numbers: 99
Enter the second numbers: 888
Enter the third numbers: 6664
Enter the fourth number: 854126
854126 is greatest value

In [95]:
# WAP to check if a number is a multiple of 7 or not.

number = int(input("Enter the number: "))

if (number % 7 == 0):
  print(number,"is multiple of 7")
else:
  print(number,"is not multiple of 7")

Enter the number: 98
98 is multiple of 7

In [96]:
# WAP to check if a number is a multiple of 7 or not.

number = int(input("Enter the number: "))

if (number % 7 == 0):
  print(number,"is multiple of 7")
else:
  print(number,"is not multiple of 7")

Enter the number: 55
55 is not multiple of 7